{{ form_start(form, {'attr': {'class': 'form-inline', 'action': path('admin_order_save_pdf', {'id': order_id})}}) }}
    {{ form_widget(form.pdf, {'attr': {'class': 'form-control'}}) }}
    <button type="submit" class="btn btn-outline-dark">save</button>
{{ form_end(form) }}
