
<!-- Nav -->
<nav id="main-menu" class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_order_list') }}">
                    <i class="fa fa-shopping-cart"></i>
                    {{ 'admin.order.list.title'|trans({}, 'app') }}
                </a>
            </li>
            {% if is_granted('user-view', app.user) %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_user_list') }}">
                        <i class="fa fa-users"></i>
                        {{ 'admin.users.menu.label'|trans({}, 'app') }}
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
